*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(68, 39, 39);
  margin: 0;
  overflow: hidden;
}

#paddle-left {
  --position: 50;
  background-color: white;
  margin-left: 2px;
  height: 15vh;
  width: 2vh;
  position: absolute;
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  left: 0;
}

#ball {
  --x: 50;
  --y: 50;

  background-color: cyan;
  height: 5vh;
  width: 5vh;
  position: absolute;
  top: calc(var(--y) * 1vh);
  left: calc(var(--x) * 1vw);
  transform: translateX(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
}

#paddle-right {
  --position: 50;
  height: 15vh;
  width: 2vh;
  margin-right: 2px;
  position: absolute;
  top: calc(var(--position) * 1vh);
  transform: translateY(-50%);
  background-color: white;
  right: 0;
}

.score {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 7vh;
  color: turquoise;
}

.score > * {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2vh;
  margin: 1vh 0;
}
.score > :first-child {
  text-align: right;
  border-right: 0.5vh solid white;
}
